<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-5 mb-5">{{ title }}</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            {% for director in directors %}
            <div class="col">
                <div class="card h-100">
                    <img src="https://loremflickr.com/300/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ director.name }}
                            {% if director.year %} &ndash; {{ director.year }}
                            {% endif %}
                        </h4>
                        <p class="card-text">Text</p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'director' director.id %}" class="btn btn-primary text-end">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <p>{{ director.description }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>