{% extends 'main.html' %}

{% block content %}
<h1 class="mt-5 mb-1">complete list of our movies</h1>
<h2 class="fs-6 mb-5">Use filters or search bar for searching your favourite movies</h2>
<div class="row mb-4">
    <hr>
    <div class="list-inline">
        {%for g in genres %}
        <li class="list-inline-item">
            <a class="btn  btn-outline-secondary  {% if g.name == genre %} btn-primary text-dark {%endif%}" href="./?genre={{ g.name }}">{{ g.name }}</a>
        </li>
        {% endfor %}
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    {% for movie in movies %}
    <div class="col">
        <div class="card rounded">
            <div class="img-container bg-secondary">
                <img src="{% if movie.image_url %}{{movie.image_url}}{% else %}https://loremflickr.com/300/150{% endif %}" class="" alt="{{ movie.name }} poster">        
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }} ({{ movie.year }})</h5>
                <h6>{% if movie.rating is not None %} {{ movie.rating }} %{% else %}
                    Give the first rating
                    {% endif %}

                </h6>
                {% for g in movie.gengere.all %}
                    <span class="badge rounded-pill bg-primary">{{ g.name }}</span>
                {% endfor %}
                <p class="card-text text-muted">{{ movie.description }}</p>
                <div class="text-end">

                </div>
            </div>
            <div class="card-footer text-end">
                <a href="{% url 'movie' movie.id %}" class="btn btn-primary text-end">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}